{% extends "base.html" %}
{% block content %}
{% for item in content %}
<div class="row">
<div class="col-12 p-3">
    <div class="card">
    <img src="{{ item.cover12 }}" class="card-img-top" alt="{{ item.section12title }}">
    <div class="card-body">
        <h1><strong><a href="{{ item.section12Url }}" class="text-success">{{ item.section12title }}</a></strong></h1>
        <h3>{{ item.section12 }}</h3>
        <p class="card-text">{{ item.section12content }}</p>
</div></div></div>
</div>
{% endfor %}
{% endblock %}