<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if title %}{{ title }} {% endif %}</title>
<meta name="description" content="{% if description %}{{ description }} {% endif %}"/>
<meta content='axcora' property='og:author'/>
<meta content='index, follow' name='robots'/>
<link rel="shortcut icon" sizes="16x16" href="https://axcora.com/img/angular.png">
<link rel="shortcut icon" sizes="32x32" href="https://axcora.com/img/angular.png">
<link rel="apple-touch-icon icon" sizes="76x76" href="https://axcora.com/img/angular.png">
<link rel="apple-touch-icon icon" sizes="120x120" href="https://axcora.com/img/angular.png">
<link rel="apple-touch-icon icon" sizes="152x152" href="https://axcora.com/img/angular.png">
<link rel="apple-touch-icon icon" sizes="180x180" href="https://axcora.com/img/angular.png">
<link rel="apple-touch-icon icon" sizes="192x192" href="https://axcora.com/img/angular.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="https://unpkg.com/@primer/css@^16.0.0/dist/primer.css" rel="stylesheet" />
</head>
<body>
    <div class="container p-1">
        {% include "nav.html" %}
    {% block content %}{% endblock %}
    <div class="text-center p-1">
        <p><a href="https://axcora.com" class="text-dark">the axcora technology</a></p>
    </div>
    </div>
<div class="text-center p-1">
<d>a site built with <a href="https://flask.palletsprojects.com" class="text-dark">flask</a> powered by <a href="https://www.python.org/" class="text-dark">phyton</a> technology made with by <a href="https://axcora.com/getaxcoracms" class="text-dark">axcora</a><br/><a href="https://creativebydre.vercel.app/" class="text-dark">creativebydre</a></d>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
