<nav class="navbar navbar-expand-lg navbar-success bg-success text-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fab fa-android fa-2x text-light"></i></a>
      <button class="navbar-toggler text-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="text-white bi bi-filter-right" viewBox="0 0 16 16">
            <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z"/>
          </svg>
      </button>
      <div class="collapse navbar-collapse p-3 justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if title=='Home' %} active {% endif %} text-light" href="{{ url_for('home') }}"><i class="fas fa-wifi"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if title=='About' %} active {% endif %} text-light" href="{{ url_for('about') }}"><i class="fab fa-angular"></i> Start</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if title=='Themes' %} active {% endif %} text-light" href="{{ url_for('themes') }}"><i class="fas fa-drafting-compass"></i> Themes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if title=='Pricing' %} active {% endif %} text-light" href="{{ url_for('pricing') }}"><i class="fas fa-cash-register"></i> Pricing</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light text-dark" href="https://github.com/mesinkasir/flaskweb"><i class="fab fa-github-square"></i> Github</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>