

<div class="col-6 col-md-4 p-3">
    <div class="card">
        <img src="{{ item.img11 }}" class="card-img-top" alt="{{ item.title11 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title11 }}</a></strong></h3>
            <p class="card-text">{{ item.content11 }}</p>
            <a href="{{ item.video11 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img12 }}" class="card-img-top" alt="{{ item.title12 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title12 }}</a></strong></h3>
            <p class="card-text">{{ item.content12 }}</p>
            <a href="{{ item.video12 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img13 }}" class="card-img-top" alt="{{ item.title13 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title13 }}</a></strong></h3>
            <p class="card-text">{{ item.content13 }}</p>
            <a href="{{ item.video13 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img14 }}" class="card-img-top" alt="{{ item.title14 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title4 }}</a></strong></h3>
            <p class="card-text">{{ item.content14 }}</p>
            <a href="{{ item.video14 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img15 }}" class="card-img-top" alt="{{ item.title15 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title15 }}</a></strong></h3>
            <p class="card-text">{{ item.content15 }}</p>
            <a href="{{ item.video15 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img16 }}" class="card-img-top" alt="{{ item.title16 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title16 }}</a></strong></h3>
            <p class="card-text">{{ item.content16 }}</p>
            <a href="{{ item.video16 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img17 }}" class="card-img-top" alt="{{ item.title17 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title17 }}</a></strong></h3>
            <p class="card-text">{{ item.content17 }}</p>
            <a href="{{ item.video17 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img18 }}" class="card-img-top" alt="{{ item.title18 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title18 }}</a></strong></h3>
            <p class="card-text">{{ item.content18 }}</p>
            <a href="{{ item.video18 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>



    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img19 }}" class="card-img-top" alt="{{ item.title19 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title19 }}</a></strong></h3>
            <p class="card-text">{{ item.content19 }}</p>
            <a href="{{ item.video19 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    

<div class="col-6 col-md-4 p-3">
    <div class="card">
        <img src="{{ item.img20 }}" class="card-img-top" alt="{{ item.title20 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title20 }}</a></strong></h3>
            <p class="card-text">{{ item.content20 }}</p>
            <a href="{{ item.video20 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>