<div class="col-6 col-md-4 p-3">
    <div class="card">
        <img src="{{ item.img1 }}" class="card-img-top" alt="{{ item.title1 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title1 }}</a></strong></h3>
            <p class="card-text">{{ item.content1 }}</p>
            <a href="{{ item.video1 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img2 }}" class="card-img-top" alt="{{ item.title2 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title2 }}</a></strong></h3>
            <p class="card-text">{{ item.content2 }}</p>
            <a href="{{ item.video2 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img3 }}" class="card-img-top" alt="{{ item.title3 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title3 }}</a></strong></h3>
            <p class="card-text">{{ item.content3 }}</p>
            <a href="{{ item.video3 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img4 }}" class="card-img-top" alt="{{ item.title4 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title4 }}</a></strong></h3>
            <p class="card-text">{{ item.content4 }}</p>
            <a href="{{ item.video4 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img5 }}" class="card-img-top" alt="{{ item.title5 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title5 }}</a></strong></h3>
            <p class="card-text">{{ item.content5 }}</p>
            <a href="{{ item.video5 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img6 }}" class="card-img-top" alt="{{ item.title6 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title6 }}</a></strong></h3>
            <p class="card-text">{{ item.content6 }}</p>
            <a href="{{ item.video6 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img7 }}" class="card-img-top" alt="{{ item.title7 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title7 }}</a></strong></h3>
            <p class="card-text">{{ item.content7 }}</p>
            <a href="{{ item.video7 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img8 }}" class="card-img-top" alt="{{ item.title8 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title8 }}</a></strong></h3>
            <p class="card-text">{{ item.content8 }}</p>
            <a href="{{ item.video8 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    <div class="col-6 col-md-4 p-3">
        <div class="card">
        <img src="{{ item.img9 }}" class="card-img-top" alt="{{ item.title9 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title9 }}</a></strong></h3>
            <p class="card-text">{{ item.content9 }}</p>
            <a href="{{ item.video9 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>

    

<div class="col-6 col-md-4 p-3">
    <div class="card">
        <img src="{{ item.img10 }}" class="card-img-top" alt="{{ item.title10 }}">
        <div class="card-body">
            <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title10 }}</a></strong></h3>
            <p class="card-text">{{ item.content10 }}</p>
            <a href="{{ item.video10 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
    </div></div></div>