<div class="col-6 col-md-4 p-3">
    <div class="card">
    <img src="{{ item.img21 }}" class="card-img-top" alt="{{ item.title21 }}">
    <div class="card-body">
        <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title21 }}</a></strong></h3>
        <p class="card-text">{{ item.content21 }}</p>
        <a href="{{ item.video21 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
</div></div></div>


<div class="col-6 col-md-4 p-3">
    <div class="card">
    <img src="{{ item.img22 }}" class="card-img-top" alt="{{ item.title22 }}">
    <div class="card-body">
        <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title22 }}</a></strong></h3>
        <p class="card-text">{{ item.content22 }}</p>
        <a href="{{ item.video22 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
</div></div></div>


<div class="col-6 col-md-4 p-3">
    <div class="card">
    <img src="{{ item.img23 }}" class="card-img-top" alt="{{ item.title23 }}">
    <div class="card-body">
        <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title23 }}</a></strong></h3>
        <p class="card-text">{{ item.content23 }}</p>
        <a href="{{ item.video23 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
</div></div></div>

<div class="col-6 col-md-4 p-3">
    <div class="card">
    <img src="{{ item.img24 }}" class="card-img-top" alt="{{ item.title24 }}">
    <div class="card-body">
        <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title24 }}</a></strong></h3>
        <p class="card-text">{{ item.content24 }}</p>
        <a href="{{ item.video24 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
</div></div></div>

<div class="col-6 col-md-4 p-3">
    <div class="card">
    <img src="{{ item.img25 }}" class="card-img-top" alt="{{ item.title25 }}">
    <div class="card-body">
        <h3><strong><a href="{{ item.Url }}" class="text-success">{{ item.title25 }}</a></strong></h3>
        <p class="card-text">{{ item.content25 }}</p>
        <a href="{{ item.video25 }}" target="_blank" class="btn btn-primary rounded col-12">Play Demo </a>
</div></div></div>