{% extends "base.html" %}
{% block content %}
{% for item in content %}
<div class="row">
<div class="col-12 p-3">
    <div class="card">
    <img src="{{ item.cover9 }}" class="card-img-top" alt="{{ item.section9title }}">
    <div class="card-body">
        <h1><strong><a href="{{ item.section9Url }}" class="text-success">{{ item.section9title }}</a></strong></h1>
        <h3>{{ item.section9 }}</h3>
        <p class="card-text">{{ item.section9content }}</p>
</div></div></div>
</div>
{% endfor %}
{% endblock %}